
html, body, p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background-color: #111; 
    vertical-align: baseline;


    font-family: "ivystyle-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

::selection {
  color: #000;
  background: #00ff6d;
}

header {
   display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
/*    background: linear-gradient(to bottom, rgba(10,10,10, 0.8) -60%, rgba(10,10,10, 0) 98%); */
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;

    
    width: 100%;
    z-index: 99999999999999;



}


.logo-container {
        background: transparent;
        display: block;
}

.logo-container a {
        background: transparent;
        display: block;
}


#logo {
    background: transparent;
    margin: 0;
    padding: 0;
    display: block; 
}

#logo canvas {
    background: transparent;
    margin: 0;
    padding: 0;
    display: block;

}


.navContainer{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: transparent;
}

.nav {
    display: flex;
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
    padding-top: 2px;

    list-style: none;
    font-size: 16px;   
 

    background: transparent;
}




.nav-eng, .nav-kor {
    display: none;
    padding: 0 6px; 
    background: transparent; 
    color: #aaa;
}

.nav-eng.active, .nav-kor.active {
    display: block;
    padding: 0 6px; 
    background: transparent; 
    color: #aaa;
}

.nav-eng.active:hover, .nav-kor.active:hover {
    
    color: #000;
}




.lang {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-top: 2px;
    padding-right: 4px;

    font-size: 16px;
    background: transparent;
    color: #aaa;
}

button {
    background-color: transparent;
    color: #aaa;
    border:none;
    font-size: 16px;
}

button:hover {
    color: #000;
    cursor: grab;
}





.category-box {
    padding-top: 2px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.category {
    float: left;
    text-align: center;

    color: #aaa;
    font-size: 16px;
    padding: 4px 4px;
}

.category:hover {
    color: #000;
}

.category-div {
    float: left;
    text-align: center;

    color: #aaa;
    font-size: 14px;
    padding: 2px 2px;
}








.container { 
    margin-top: 80px;
    padding: 0px 32px;
    display: flex; 
    align-items: flex-end;
    flex-wrap: wrap; 

} 

.item { 
    width: 20%; 
    float: left;
    padding: 12px;
    padding-bottom:60px;
    box-sizing: border-box;
  
   
    text-align: center; 
    color: white; 

    

  
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.item img{ 
    width: 100%;
    height: auto;
    transition: transform 0.2s ease;
}

.item img:hover {
    transform: translateY(-14px);

}



.title-eng, .title-kor {
    display: none;
    font-size: 16px;
    line-height: 1.3;
    padding-top: 10px;
    padding-bottom: 12px;
}

.title-eng.active, .title-kor.active {
    display: block;
    font-size: 16px;
    line-height: 1.3;
    padding-top: 10px;
    padding-bottom: 8px; 
}





.tag-box {
    display: flex; 
    align-items: flex-end;
    justify-content: center;
   
} 

.tag {
    float: left;
    padding: 0px 1px;

    

}

.tag p {
    

    padding: 1px 6px;
    background-color: #666;
    text-align: center;

    font-family: poppins;
    font-weight: 400;
    font-size: 12px;
    color: #000;
    border-radius: 12px;
}






/*----------------------------------------------------------------------------------------------------------------------*/
/*                                                         CV                                                           */
/*----------------------------------------------------------------------------------------------------------------------*/



.cvContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;

    color: white;
}


.cvKo {
    font-size: 20px;
    line-height: 1.8;
}

.cvEn {
    font-size: 20px;
    line-height: 1.8;
}








.footer1 {
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 24px;
    position: relative;
    bottom: 0;
}

.footer2 {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: center;
    padding: 24px;
}




















@media (min-width: 1000px) and (max-width: 1323px) { 
    .item { 
        width: 33.33%; 
    }
}


@media (min-width: 669px) and (max-width: 999px) { 
    .item { 
        width: 50%; 
    }
}




@media (max-width: 668px) { 

    .fun {
        display: none;
    }

    header { 
        grid-template-columns: 1fr 1fr; 
        padding: 10px; 
    } 

    .logo { 
        justify-content: flex-start; 
        margin-top: 2px; 
        margin-left: 4px;
    } 

    .navContainer {
        padding-right: 30px;
        justify-content: flex-end; 
    }



    #logo { 
        width: 120px; 
        fill: #fff;
    } 

    #logo.active { fill: #00ff6d; }

    .nav { 
       
        gap: 20px; 
    } 

    #navPortfolio, #navCv { 
        padding: 0; 
        margin: 0px 0; 
    } 

    #navPortfolio:hover { padding: 0px; background: transparent; color: #fff;}
    #navCv:hover { padding: 0px; background: transparent; color: #fff;}
    .item img:hover {transform: translateY(0px);}

    #navPortfolio.active { color: #00ff6d; }
    #navCv.active { color: #00ff6d; }

    .container { 
        flex-direction: column; 
        align-items: center; 
        border: none; 
    } 

    .item { 
        width: 100%; 
    } 

}
















